@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #10916a;
}
.container{
  background: #111827;
  width: 95%;
  height: 35rem;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1.2rem;
  overflow-y: auto;
}
